<header>
  <a class = "logo" [routerLink]="'/'">
    <img src = "assets/logo.png" height="80" width= "90"/>
  </a>
  <h1 class = "page-title">Sobre nosotros</h1>
</header>

<h2 class = "page-description">Esta página fue creada por:</h2>

<section>
  <div class="person">
    <div class="local-section">
      <div class="description-part">
        <img class="square" src="../../../assets/about-me/Camila.png" height="190" width="180" alt="Camila Anahí">
        <p class="description">Conocimientos en programación estructurada, orientada a objetos en C++ y Python.
          Habilidades: responsabilidad, creatividad, trabajo en equipo, puntualidad.
        </p>
      </div>
      <h1 class="name">Acosta Sáenz, Camila Anahí <span style="color: darkgray;">(U202212239)</span></h1>
      <p class="function">Ingeniería de Sistemas de Información</p>
    </div>
  </div>
  <div class = "person">
    <div class = "local-section">
      <div class = "description-part">
        <img class = "square" src = "../../../assets/about-me/Fabrizio.png" height="190" width= "160">
        <p class = "description">Conocimientos en programación estructurada, orientada a objetos en C++ y Python, Excel Básico.
          Habilidades: Liderazgo, responsabilidad, puntualidad, proactividad y organización.
        </p>
      </div>
      <h1 class = "name">Arias Cueto, Fabrizio Adrián <span style= "color: darkgray;">(U202212003)</span></h1>
      <p class = "function">Ingeniería de Sistemas de Información</p>
    </div>

  </div>
  <div class = "person">
    <div class = "local-section">
      <div class = "description-part">
        <img class = "square" src = "../../../assets/about-me/Angel.png" height="190" width= "160">
        <p class = "description">Conocimientos en programación estructurada, orientada a objetos en C++ y Python, Excel Básico.
          Habilidades: responsabilidad, puntualidad, proactividad y organización.

        </p>
      </div>
      <h1 class = "name">Jiménez Levaratto, Angel Antonio <span style= "color: darkgray;">(U202213812)</span></h1>
      <p class = "function">Ingeniería de Sistemas de Información</p>
    </div>
  </div>
  <div class = "person">
    <div class = "local-section">
      <div class = "description-part">
        <img class = "square" src = "../../../assets/about-me/Marcelo.png" height="190" width= "160" alt="marcelo">
        <p class = "description">Conocimiento en programación estructurada, orientada a objetos en C++ y Python.
          Habilidades: Responsabilidad, puntualidad, honesto, trabajo en equipo.
        </p>
      </div>
      <h1 class = "name">Linares Ruiz, Marcelo Jesús <span style= "color: darkgray;">(U202212115)</span></h1>
      <p class = "function">Ingeniería de Sistemas de Información</p>
    </div>

  </div>

  <div class = "person">
    <div class = "local-section">
      <div class = "description-part">
        <img class = "square" src = "../../../assets/about-me/Jose.png" height="190" width= "160">
        <p class = "description">Conocimiento en programación estructurada, orientada a objetos en C++ y Python.
          Habilidades: Responsabilidad, puntualidad, honesto, trabajo en equipo.
        </p>
      </div>

      <h1 class = "name">Vega Montes, Jose Alberto <span style= "color: darkgray;">(U202212859)</span></h1>
      <p class = "function">Ingeniería de Sistemas de Información</p>
    </div>
  </div>
</section>

