<nav>
  <a [routerLink] = "'/main-admin'">
    <img src="../../../assets/logo.png" height="70" width="80" alt="Logo" />
  </a>
  <div class="menu-container">
    <a class="nav-block" [routerLink]="'/course'">Cursos</a>
    <a class="nav-block" [routerLink]="'/lessonA'">Lecciones</a>
    <a class="nav-block" [routerLink]="'/listar-preguntas'">Preguntas</a>
    <a class="nav-block" [routerLink]="'/progress'">Progresos</a>
    <a class="nav-block" [routerLink]="'/language'">Lenguas</a>
    <a class="nav-block" [routerLink]="'/user'">Usuarios</a>

    <a class = "nav-block" [routerLink]="'/'">Salir</a>
  </div>
  <img class="menu" onclick="toggleOptionList()" src="../../../assets/lesson/menu.png" height="70" width="85" alt="Menu" />
  <div class="option-list" id="option-list">
    <p class="nav-block" ><a [routerLink]="'/course'" class="e">Cursos</a></p>
    <p class="nav-block" ><a [routerLink]="'/lessonA'" class="e">Lecciones</a></p>
    <p class="nav-block" ><a [routerLink]="'/listar-preguntas'" class="e">Preguntas</a></p>
    <p class="nav-block" ><a [routerLink]="'/progress'" class="e">Progresos</a></p>
    <p class="nav-block" ><a [routerLink]="'/language'" class="e">Lenguas</a></p>
    <p class="nav-block" ><a [routerLink]="'/user'" class="e">Usuarios</a></p>
    <p class = "nav-block" > <a class = "nav-block" [routerLink]="'/'">Salir</a></p>
  </div>
</nav>

<section class="main_container">
  <h1 class="page-title">Listar Cursos</h1>

  <!-- Botón para registrar curso -->
  <button mat-raised-button color="primary" [routerLink]="'/register-course'" class="register-button">
    <span class="material-icons">add</span> Registrar Curso
  </button>

  <div class="mat-elevation-z8 course-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">

      <!-- ID del Curso Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID del Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nombre del Curso Column -->
      <ng-container matColumnDef="nombreCurso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCurso}} </td>
      </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Lengua Column -->
      <ng-container matColumnDef="lengua">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lengua</th>
        <td mat-cell *matCellDef="let element"> {{element.lenguasLenguaid.nombreLengua}} </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.usuariosUsuarioid.nombre}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</section>
